* {
    padding: 0;
    margin: 0;
    // line-height: 1;
    box-sizing:border-box;
    user-select:none;
}
html{
    touch-action: manipulation;//禁止缩放 杜绝300ms延迟 https://developers.google.com/web/updates/2013/12/300ms-tap-delay-gone-away
    text-align: center;
  	color: #2c3e50;
  	font-family: 'Avenir', Helvetica, Arial, sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
ol,
ul {
    list-style: none;
}
a{
  text-decoration:none;
}
