
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont x-home"></i>
                    <div class="name">home</div>
                    <div class="fontclass">.x-home</div>
                </li>
            
                <li>
                <i class="icon iconfont x-paper"></i>
                    <div class="name">paper</div>
                    <div class="fontclass">.x-paper</div>
                </li>
            
                <li>
                <i class="icon iconfont x-menu2"></i>
                    <div class="name">menu</div>
                    <div class="fontclass">.x-menu2</div>
                </li>
            
                <li>
                <i class="icon iconfont x-search"></i>
                    <div class="name">search</div>
                    <div class="fontclass">.x-search</div>
                </li>
            
                <li>
                <i class="icon iconfont x-lock"></i>
                    <div class="name">lock</div>
                    <div class="fontclass">.x-lock</div>
                </li>
            
                <li>
                <i class="icon iconfont x-jiahao"></i>
                    <div class="name">加号</div>
                    <div class="fontclass">.x-jiahao</div>
                </li>
            
                <li>
                <i class="icon iconfont x-tag"></i>
                    <div class="name">tag</div>
                    <div class="fontclass">.x-tag</div>
                </li>
            
                <li>
                <i class="icon iconfont x-correct"></i>
                    <div class="name">correct</div>
                    <div class="fontclass">.x-correct</div>
                </li>
            
                <li>
                <i class="icon iconfont x-icon-yxj-error"></i>
                    <div class="name">失败</div>
                    <div class="fontclass">.x-icon-yxj-error</div>
                </li>
            
                <li>
                <i class="icon iconfont x-heart"></i>
                    <div class="name">heart</div>
                    <div class="fontclass">.x-heart</div>
                </li>
            
                <li>
                <i class="icon iconfont x-shoukuan"></i>
                    <div class="name">付款</div>
                    <div class="fontclass">.x-shoukuan</div>
                </li>
            
                <li>
                <i class="icon iconfont x-my"></i>
                    <div class="name">my</div>
                    <div class="fontclass">.x-my</div>
                </li>
            
                <li>
                <i class="icon iconfont x-shibai"></i>
                    <div class="name">失败</div>
                    <div class="fontclass">.x-shibai</div>
                </li>
            
                <li>
                <i class="icon iconfont x-shibai1"></i>
                    <div class="name">失败</div>
                    <div class="fontclass">.x-shibai1</div>
                </li>
            
                <li>
                <i class="icon iconfont x-Music"></i>
                    <div class="name">Music</div>
                    <div class="fontclass">.x-Music</div>
                </li>
            
                <li>
                <i class="icon iconfont x-back"></i>
                    <div class="name">back</div>
                    <div class="fontclass">.x-back</div>
                </li>
            
                <li>
                <i class="icon iconfont x-menu1"></i>
                    <div class="name">menu</div>
                    <div class="fontclass">.x-menu1</div>
                </li>
            
                <li>
                <i class="icon iconfont x-menu"></i>
                    <div class="name">menu</div>
                    <div class="fontclass">.x-menu</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">x-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
